
body{
  margin: 0px;
}

body *{
  font-size: 1.2rem;
}

.wrapper{
  margin: 0px;
  display: grid;
  grid-template-columns: auto auto;
}

.right{
  margin: 0px 0px 0px 10px ;
}

.right *{
  justify-content: center;
}

.left{
  margin: 0px 10px 0px 0px ;
}